<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
             {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
           
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="mb-3">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="{{path('app_home')}}">Threeter</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-item nav-link {% if app.request.getPathInfo == '/' %}active{% endif %}" href="{{path('app_home')}}">Accueil</a>
                        {% if app.user %}
                            
                            <a class="nav-item nav-link" href="#">Mon profil</a>
                            <a class="nav-item nav-link" href="#">Mes messages</a>
                            <a class="nav-item nav-link" href="#">Paramètres</a>
                            <a class="nav-item nav-link" href="#">se déconnecter</a>
                        {% else %}
                            <a class="nav-item nav-link {% if '/login' in app.request.getPathInfo %}active {% endif %}" href="{{ path('app_security_login') }}">Se connecter</a>
                            <a class="nav-item nav-link {% if '/register' in app.request.getPathInfo %}active {% endif %}" href="{{ path("app_security_register")}}">S'inscrire</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block container %}Container par défaut{% endblock %}
        </div>
    </body>
</html>
